<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyAwPS6ElRUwaB4kqc4uhQ3QXFcEIbn9IMo</string>
    <key>API_BASE_URL</key>
    <string>https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent</string>
    <key>BASE_URL</key>
    <string>https://rickandmortyapi.com/graphql</string>
</dict>
</plist>
